.todoInputWrapper {
  display: flex;
  margin-top: 8px;

  .todoInput {
    flex: 10;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;

    &:focus {
      outline: 1px solid #b7b7b7;
    }
  }

  .todoButton {
    flex: 1;
    border: none;
    color: white;
    background-color: #0064ff;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
  }
}
